<div class="container">
  <form class="form-horizontal" #viewPatientDataForm="ngForm">
    <div class="row">
      <!-- Fields with patient to view info -->
      <div class="col-xs-6">
        <!-- Last name -->
        <div *ngIf="_viewCategory == CategoriesToViewByEnum.byLastName 
             || _viewCategory == CategoriesToViewByEnum.byAllInTheAbove" 
             class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="lastName">Прізвище</label>
          </div>
          <div class="view-category-input">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control" id="lastName" name="lastName"
                     [(ngModel)]="_patientToView.lastName" #lastName="ngModel"
                     [disabled]="_isSearching" required 
                     pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}"/>
            </div>
          </div>
          <div class="view-category-alert">
            <div *ngIf="!_patientToView.lastName && lastName.touched"
                 class="alert alert-danger">
              Введіть прізвище.
            </div>
          </div>
        </div>
        <!-- First name -->
        <div *ngIf="_viewCategory == CategoriesToViewByEnum.byFirstName
             || _viewCategory == CategoriesToViewByEnum.byAllInTheAbove"
             class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="firstName">Ім'я</label>
          </div>
          <div class="view-category-input">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control" id="firstName" name="firstName"
                     [(ngModel)]="_patientToView.firstName" #firstName="ngModel"
                     [disabled]="_isSearching" required 
                     pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}"/>
            </div>
          </div>
          <div class="view-category-alert">
            <div *ngIf="!_patientToView.firstName && firstName.touched"
                 class="alert alert-danger">
              Введіть ім'я.
            </div>
          </div>
        </div>
        <!-- Second name -->
        <div *ngIf="_viewCategory == CategoriesToViewByEnum.bySecondName
             || _viewCategory == CategoriesToViewByEnum.byAllInTheAbove"
             class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="secondName">По батькові</label>
          </div>
          <div class="view-category-input">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control" id="secondName" name="secondName"
                     [(ngModel)]="_patientToView.secondName" #secondName="ngModel"
                     [disabled]="_isSearching" required
                     pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}" />
            </div>
          </div>
          <div class="view-category-alert">
            <div *ngIf="!_patientToView.secondName && secondName.touched"
                 class="alert alert-danger">
              Введіть по батькові.
            </div>
          </div>
        </div>
        <!-- Birth date -->
        <div *ngIf="_viewCategory == CategoriesToViewByEnum.byBirthDate
             || _viewCategory == CategoriesToViewByEnum.byAllInTheAbove"
             class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="birthDate">Дата народження</label>
          </div>
          <div class="col-xs-5">
            <custom-datepicker [(date)]="_patientToView.birthDate" 
                               [(touched)]="_birthDateTouched">
            </custom-datepicker>
          </div>
          <div class="view-category-alert">
            <div *ngIf="!_patientToView.birthDate && _birthDateTouched"
                 class="alert alert-danger">
              Введіть дату народження.
            </div>
          </div>
        </div>
        <!-- Card number -->
        <div *ngIf="_viewCategory == CategoriesToViewByEnum.byCardNumber
             || _viewCategory == CategoriesToViewByEnum.byAllInTheAbove"
             class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="cardNumber">Номер картки</label>
          </div>
          <div class="view-category-input">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control" id="cardNumber" name="cardNumber"
                     [(ngModel)]="_patientToView.cardNumber" #cardNumber="ngModel"
                     [disabled]="_isSearching" required/>
            </div>
          </div>
          <div class="view-category-alert">
            <div *ngIf="!_patientToView.cardNumber && cardNumber.touched"
                 class="alert alert-danger">
              Введіть номер картки.
            </div>
          </div>
        </div>
        <!-- TODO Change to tooltip -->
        <!-- Alert when there are missing values -->
        <div class="form-group row">
          <div *ngIf="!_patientToView.lastName || !_patientToView.firstName
                     || !_patientToView.secondName || !_patientToView.birthDate"
               class="alert alert-danger">
            Для пошуку введіть значення у всі поля.
          </div>
        </div>
      </div>
      <!-- Categories to view by -->
      <div class="col-xs-4">
        <div class="form-group row">
          <div class="view-category-label">
            <label class="control-label" for="viewCategoryList">Категорія</label>
          </div>
          <div class="view-category-input">
            <div class="input-group col-xs-12">
              <select class="form-control" id="viewCategoryList" name="viewCategoryList"
                      [(ngModel)]="_viewCategory" #viewCategoryList="ngModel"
                      [disabled]="_isSearching">
                <option *ngFor="let category of CATEGORIES_TO_VIEW_BY" [ngValue]="category.key">
                  {{category.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Button to view data -->
      <div class="form-group">
        <div class="row">
          <div class="col-xs-offset-3">
            <button class="btn btn-primary" (click)="viewPatientData()"
                    [disabled]="_formInvalid() || _isSearching">
              Переглянути
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Horizontal bar, which divides form and results-->
  <div *ngIf="_triedToSearch"><hr /></div>
  <!-- Results -->
  <div class="row">
    <!-- Viewing data progress bar -->
    <div class="alert alert-info col-xs-offset-3 col-xs-4" *ngIf="_isSearching">
      Триває отримання даних про пацієнта...
    </div>
    <!-- Error message if there was one-->
    <div *ngIf="_isErrorOnSearching" class="alert alert-danger col-xs-offset-1">
      {{_lastErrorMessage}}
    </div>
    <!-- Children cards, if there were any -->
    <div class="form-group" *ngIf="_triedToSearch && !_isSearching && !_isErrorOnSearching
            && _searchResult.length">
      <h4 class="text-center">Дані про пацієнта:</h4>
      <children-cards-list-without-lazy [childrenCards]="_searchResult">
      </children-cards-list-without-lazy>
    </div>
    <!-- Message that nothing was found -->
    <div class="alert alert-info col-xs-offset-3 col-xs-4"
         *ngIf="_triedToSearch && !_isSearching  && !_isErrorOnSearching
             && !_searchResult.length ">
      <h4>По Вашому запиту пацієнта не знайдено.</h4>
    </div>
  </div>
</div>