<h3>Пошук користувачів</h3>
<form class="form" (ngSubmit)="search(searchForm)">
    <div class="form-group">
        <label class="radio-inline" for="searchByName">
            <input type="radio" name="optradio" id="searchByUsername"
                   [value]="UsersSearchOptionsEnum.byUsername"
                   [(ngModel)]="_searchOption" #searchByUsername="ngModel" />
            Пошук по імені користувача
        </label>
        <label class="radio-inline" for="searchByPositionName">
            <input type="radio" name="optradio" id="searchByPositionName"
                   [value]="UsersSearchOptionsEnum.byPositionName" [(ngModel)]="_searchOption"
                   #searchByPositionName="ngModel" />
            Пошук по назві посади
        </label>
        <label class="radio-inline" for="searchByStatus">
            <input type="radio" name="optradio" id="searchByStatus"
                   [value]="UsersSearchOptionsEnum.byStatus" [(ngModel)]="_searchOption"
                   #searchByStatus="ngModel" />
            Пошук по статусу
        </label>
    </div>
    <div *ngIf="_searchOption==UsersSearchOptionsEnum.byUsername"
         class="form-group">
        <label class="control-label" for="username">Ім'я</label>
        <input type="text" class="form-control" id="username" name="username"
               [(ngModel)]="_userToSearchFor.username" #username="ngModel" />
    </div>
    <div *ngIf="_searchOption==UsersSearchOptionsEnum.byPositionName"
         class="form-group">
        <label class="control-label" for="positionName">Посада</label>
        <input type="text" class="form-control" id="positionName" name="positionName"
               [(ngModel)]="_userToSearchFor.positionName" #positionName="ngModel" />
    </div>
    <div *ngIf="_searchOption==UsersSearchOptionsEnum.byStatus"
         class="form-group">
        <label class="control-label" for="isActive">Статус</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="isActive" name="isActive"
                       [(ngModel)]="_userToSearchFor.isActive" #isActive="ngModel" />
                Чи активний
            </label>
        </div>
    </div>
    <div *ngIf="!_userToSearchFor.username && !_userToSearchFor.positionName
             && _searchOption!=UsersSearchOptionsEnum.byStatus"
         class="alert alert-danger">
        Введіть значення у поле.
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default"
                [disabled]="!_userToSearchFor.username && !_userToSearchFor.positionName
                    && _searchOption!=UsersSearchOptionsEnum.byStatus"
                *ngIf="!_isSearching">
            Знайти
        </button>
        <div class="progress" *ngIf="_isSearching">
            <div class="progress-bar progress-bar-info progress-bar-striped active"
                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"
                 style="width:100%">
                Триває пошук...
            </div>
        </div>
        <div *ngIf="_isErrorOnSearching" class="alert alert-danger">
            {{_lastErrorMessage}}
        </div>
    </div>
    <div class="form-group" *ngIf="_triedToSearch && !_isSearching && !_isErrorOnSearching
         && _searchResult">
        <h4>Результат пошуку</h4>
        <users-list-without-pagination [users]="_searchResult"></users-list-without-pagination>
    </div>
    <div class="alert alert-info" *ngIf="_triedToSearch && !_isSearching  && !_isErrorOnSearching
         && !_searchResult ">
        <h4>По Вашому запиту нічого не знайдено.</h4>
    </div>
</form>
<button class="btn btn-info btn-sm" [routerLink]="['/']">Назад</button>
