<div class="container">
  <!-- "Loading" progress bar and related error alert -->
  <div class="row" *ngIf="_isLoading">
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active"
           role="progressbar" aria-valuenow="0" aria-valuemin="0"
           aria-valuemax="0" style="width:100%">
        Отримання інформації щодо форми ...
      </div>
    </div>
  </div>
  <div class="row" *ngIf="_isErrorOnLoading">
    <div class="alert alert-danger col-xs-12">
      {{_lastLoadingErrorMessage}}
    </div>
  </div>

  <div *ngIf="!_isLoading">
    <!-- ПІБ пацієнта, якого стосується форма -->
    <div class="row">
      <h4 class="text-center">
        {{_childCard.lastName}} {{_childCard.firstName}} {{_childCard.secondName}}
      </h4>
    </div>
    <!-- Заголовок форми — ОГЛЯД ЛІКАРЯ-ПЕДІАТРА -->
    <div class="row">
      <h4 class="text-center">
        ОГЛЯД ЛІКАРЯ-ПЕДІАТРА
      </h4>
    </div>

    <!-- Вік -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>Вік</b> <u>{{_pediatriciansExamination.header.age}}</u>
      </p>
    </div>
    <!-- Вага -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>Вага</b> {{_pediatriciansExamination.header.weight}}
      </p>
    </div>
    <!-- Зріст -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>Зріст</b> {{_pediatriciansExamination.header.height}}
      </p>
    </div>
    <!-- Окружність голови -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>Окружність голови</b> {{_pediatriciansExamination.header.headCircumference}}
      </p>
    </div>
    <!-- Окружність грудної клітки -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>Окружність грудної клітки</b> {{_pediatriciansExamination.header.chestCircumference}}
      </p>
    </div>
    <!-- ВТ -->
    <div class="row col-xs-12">
      <p class="col-xs-offset-2 col-xs-4">
        <b>ВТ</b> {{_pediatriciansExamination.header.vt}}
      </p>
    </div>

    <!-- Скарги -->
    <div class="row col-xs-12">
      <b>Скарги</b>
      <pre>{{_pediatriciansExamination.complaints}}</pre>
    </div>
    <!-- Анамнез захворювання -->
    <div class="row col-xs-12">
      <b>Анамнез захворювання</b>
      <pre>{{_pediatriciansExamination.anamnesisOfDisease}}</pre>
    </div>
    <!-- Анамнез життя -->
    <div class="row col-xs-12">
      <b>Анамнез життя</b> {{_pediatriciansExamination.anamnesisOfLife}}
    </div>

    <!-- Вагітність та пологи -->
    <!-- Рядок 1 -->
    <p class="row col-xs-12">
      Дитина від {{_pediatriciansExamination.pregnancyDetails.someDetails}} вагітності, яка протікала:
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.pregnancyDetails.passedNormally)">
          нормально
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.pregnancyDetails.passedWithToxemia)">
          з токсикозом
        </span>
      </i>
    </p>
    <!-- Рядок 2 -->
    <p class="row col-xs-12">
      <span *ngIf="_pediatriciansExamination.pregnancyDetails.passedWithToxemia">
        {{_pediatriciansExamination.pregnancyDetails.toxemiaDetails}}
      </span>
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.pregnancyDetails.passedWithToxemia)">
          половини
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.pregnancyDetails.passedWithAnemia)">
          анемією
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.pregnancyDetails.withThreatInInterruption)">
          загрозою переривання у терміні
        </span>
      </i>
      <span type="text" *ngIf="_pediatriciansExamination.pregnancyDetails.withThreatInInterruption">
        {{_pediatriciansExamination.pregnancyDetails.dateOfInterruption}}
      </span>
    </p>
    <!-- Рядок 3 -->
    <p class="row col-xs-12">
      від
      <span *ngIf="_pediatriciansExamination.pregnancyDetails.childBirth != ChildBirthEnum.Unknown">
        {{_pediatriciansExamination.pregnancyDetails.fromDetails}}
      </span>
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.
                    pregnancyDetails.childBirth == ChildBirthEnum.Urgent)">
          термінових
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.
                    pregnancyDetails.childBirth == ChildBirthEnum.Premature)">
          передчасних
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.
                    pregnancyDetails.childBirth == ChildBirthEnum.Operative)">
          оперативних пологів
        </span>
        .
      </i>
    </p>

    <!-- Результати огляду при народженні -->
    <!-- Рядок 1 -->
    <p class="row col-xs-12">
      Вага при народженні
      {{_pediatriciansExamination.birthDetails.weight}}
      , довжина тіла
      {{_pediatriciansExamination.birthDetails.bodyLength}}
      , окружність голови
      {{_pediatriciansExamination.birthDetails.headCircumference}}
      ,
    </p>
    <!-- Рядок 2 -->
    <p class="row col-xs-12">
      окружність грудної клітки
      {{_pediatriciansExamination.birthDetails.chestCircumference}}
      , оцінка за шкалою Апгар
      {{_pediatriciansExamination.birthDetails.scoreByApgar}}
      .
    </p>

    <!-- Ранній неонатальний період -->
    <p class="row col-xs-12">
      Ранній неонатальний період протікав
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.earlyNeonatalPeriodWasWithoutComplications)">
          без ускладнень
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.earlyNeonatalPeriodWasWithComplications)">
          був ускладнений
        </span>
      </i>
      <span *ngIf="_pediatriciansExamination.earlyNeonatalPeriodWasWithoutComplications!=false">
        {{_pediatriciansExamination.complicationsDuringNeonatalPeriod}}
      </span>
      .
    </p>
    <!-- Рядок після рядку з раннім неонатальним періодом -->
    <p class="row col-xs-12">
      {{_pediatriciansExamination.detailsAfterEarlyNeonatalPeriod}}
    </p>

    <!-- Психомоторний розвиток на 1-му році життя -->
    <p class="row col-xs-12">
      Психомоторний розвиток на 1-му році життя
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.psychomotorDevelopmentOnFirstYear.wasAccordingToAgeLimit)">
          відповідав віковій нормі
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.psychomotorDevelopmentOnFirstYear.wasNotNormal)">
          не відповідав нормі
        </span>
      </i>
      <span *ngIf="!_pediatriciansExamination.psychomotorDevelopmentOnFirstYear.wasNotNormal">
        {{_pediatriciansExamination.psychomotorDevelopmentOnFirstYear.details}}
      </span>
    </p>
    <!-- Вигодовування -->
    <p class="row col-xs-12">
      Вигодовування: природнє
      {{_pediatriciansExamination.naturalFeedingDetails}}
      , штучне
      {{_pediatriciansExamination.nonNaturalFeedingDetails}}
      , змішане
      {{_pediatriciansExamination.mixedFeedingDetails}}
    </p>
    <!-- Перенесені захворювання -->
    <div class="row col-xs-12">
      <b>Перенесені захворювання</b>
      <pre>{{_pediatriciansExamination.pastIllnesses}}</pre>
    </div>
    <!-- "Д" облік з приводу -->
    <div class="row col-xs-12">
      <b>"Д" облік з приводу</b>
      <pre>{{_pediatriciansExamination.screeningReasonsDetails}}</pre>
    </div>
    <!-- Шкідливі звички -->
    <p class="row col-xs-12">
      Шкідливі звички:
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.badHabitsAbsent)">
          немає
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.badHabitsPresent)">
          є
        </span>
      </i>
      <span *ngIf="_pediatriciansExamination.badHabitsPresent">{{_pediatriciansExamination.badHabitsDetails}}</span>
    </p>
    <!-- Алергологічний анамнез -->
    <p class="row col-xs-12">
      Алергологічний анамнез:
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.notWeightedWithAllergicHistory)">
          не обтяжений
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.weightedWithAllergicHistory)">
          обтяжений
        </span>
      </i>
      <span *ngIf="_pediatriciansExamination.weightedWithAllergicHistory">{{_pediatriciansExamination.allergicHistoryDetails}}</span>
    </p>
    <!-- Спадковий анамнез -->
    <p class="row col-xs-12">
      Спадковий анамнез:
      <i>
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.notWeightedWithAncestralAnamnesis)">
          не обтяжений
        </span>
        ,
        <span [style.text-decoration]="_textDecoration(_pediatriciansExamination.weightedWithAncestralAnamnesis)">
          обтяжений
        </span>
      </i>
      <span *ngIf="_pediatriciansExamination.weightedWithAncestralAnamnesis">{{_pediatriciansExamination.ancestralAnamnesisDetails}}</span>
    </p>
    <!-- Розладів стільця... -->
    <p class="row col-xs-12">
      Розладів стільця за останні три дні не було. В контакті з інфекційними хворими протягом 21 дня небув(ла).
    </p>
    <!-- Профщеплення -->
    <p class="row col-xs-12">
      Профщеплення:
      {{_pediatriciansExamination.preventiveVaccinations}}
    </p>

    <hr />

    <!-- Update button -->
    <div class="row">
      <div class="form-group col-xs-11">
        <button type="button" class="btn btn-primary" (click)="_loadExaminationFromServer()"
                [disabled]="_isLoading">
          Оновити
        </button>
      </div>
    </div>

  </div>
</div>
