<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">

                <h3 style="text-align: center;">Панель управління</h3>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <fieldset>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <div style="margin-bottom: 10px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Імʼя користувача"
                                           [(ngModel)]="model.username" #username="ngModel" required pattern="[a-zA-Z0-9]{3,60}">
                                </div>
                                <div *ngIf="f.submitted && !username.valid" class="help-block">Неправильне імʼя користувача</div>
                            </div>

                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                    <input class="form-control" placeholder="Пароль" name="password" type="password" value=""
                                           [(ngModel)]="model.password" #password="ngModel" required pattern="[A-Za-z0-9!@#$%^&amp;*'&gt;&lt;?.,&quot;()+-_~`{}|]{6,100}">
                                </div>
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Неправильний пароль</div>
                            </div>
                            <input [disabled]="loading" class="btn btn-lg btn-success btn-block" type="submit" value="Увійти">
                        </fieldset>
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>