<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="align-middle">Прізвище</th>
                <th class="align-middle">Ім'я</th>
                <th class="align-middle">По-батькові</th>
                <th class="align-middle">Дата народження</th>
                <th class="align-middle">Адреса</th>
                <th class="align-middle">Госпіталізація</th>
                <th class="align-middle">Виписка</th>
                <th class="align-middle">Діагноз</th>
                <th class="align-middle">Призначене лікування</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let childCard of childrenCards | async"
                 children-cards-list-item [childCard]="childCard">
            </tr>
        </tbody>
    </table>
</div>
