<div class="child-card_inactive" (click)="openChildCard()"
     onmouseover="this.className = 'child-card_active'"
     onmouseout="this.className = 'child-card_inactive'"
     unselectable="on">
  <div class="panel-heading">
    <h4 class="text-center">
      Картка №{{childCard.cardNumber}}
    </h4>
  </div>
  <div class="panel-body">
    <b>ПІБ:</b> {{childCard.lastName}} {{childCard.firstName}} {{childCard.secondName}} <br />
    <br />
    <b>Дата народження:</b> {{childCard.date | amDateFormat:'DD.MM.YYYY'}} <br />
    <b>Адреса:</b> {{childCard.address}} <br />
    <b>Дата госпіталізації:</b> {{childCard.checkIn | amDateFormat:'DD.MM.YYYY'}} <br />
    <span *ngIf="childCard.checkOut">
      <b>Дата виписки:</b> {{childCard.checkOut | amDateFormat:'DD.MM.YYYY'}} <br />
    </span>
    <span *ngIf="childCard.diagnosis">
      <b>Діагноз:</b> {{childCard.diagnosis.name}} <br />
    </span>
  </div>
</div>
