<!-- Modal -->
<div id="userEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>Редагування Користувача</p>
            </div>
            <div class="modal-body">
                <form *ngIf="user" class="form" #userEditForm="ngForm">
                    <div class="form-group">
                        <label for="username">Ім'я користувача</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control col-xs-5" id="username" name="username" [(ngModel)]="user.userName"
                                   #username="ngModel" required pattern="[a-zA-Z0-9]{3,60}" />
                        </div>
                        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                            Некоректне ім’я користувача
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Електнона пошта</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                                   #email="ngModel" required pattern="[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}" />
                        </div>
                        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                            Недійсна електронна адреса
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Ім'я</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                                   #firstName="ngModel" required pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}" />
                        </div>
                        <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
                            Некоректне ім’я
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="secondName">По батькові</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="secondName" name="secondName" [(ngModel)]="user.secondName"
                                   #secondName="ngModel" pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}" />
                        </div>
                        <div [hidden]="secondName.valid || secondName.untouched" class="alert alert-danger">
                            Некоректне по батькові
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Прізвище</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName"
                                   #lastName="ngModel" required pattern="[А-Яа-яґҐєЄіІїЇ`´ʼ’ʼ’'-]{1,100}" />
                        </div>
                        <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
                            Некоректне прізвище
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position">Посада</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th-list" aria-hidden="true"></i></span>
                            <select name="position" id="position" [(ngModel)]="user.positionId" class="form-control"
                                    required #position="ngModel">
                                <option *ngFor="let position of positions" [ngValue]="position.positionId">
                                    {{position.name}}
                                </option>
                            </select>
                        </div>
                        <div [hidden]="position.valid || position.untouched" class="alert alert-danger">
                            Необхідно вибрати посаду
                        </div>
                    </div>
                    <div class="container">
                        <button [disabled]="userEditForm.form.invalid" class="btn btn-primary"
                                type="submit" data-toggle="modal"
                                data-target="#userEditConfirmationModal">
                            Зберегти
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div edit-confirmation (onConfirmedEdit)="submit()"></div>
    <simple-notifications [options]="notificationOptions"></simple-notifications>
</div>
