<div class="container">
  <!-- "Loading" progress bar and related error alert -->
  <div class="row" *ngIf="_isLoading">
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active"
           role="progressbar" aria-valuenow="0" aria-valuemin="0"
           aria-valuemax="0" style="width:100%">
        Отримання інформації щодо форми ...
      </div>
    </div>
  </div>
  <div class="row" *ngIf="_isErrorOnLoading">
    <div class="alert alert-danger col-xs-12">
      {{_lastLoadingErrorMessage}}
    </div>
  </div>

  <form class="form-horizontal" *ngIf="!_isLoading"
        #neurologistsExaminationForm="ngForm" (submit)="_save()">
    <!-- ПІБ пацієнта, якого стосується форма -->
    <div class="row">
      <h4 class="text-center">
        {{_childCard.lastName}} {{_childCard.firstName}} {{_childCard.secondName}}
      </h4>
    </div>
    <!-- Заголовок форми -->
    <div class="row">
      <h4 class="text-center">
        ОГЛЯД НЕВРОЛОГА
      </h4>
    </div>

    <!-- Скарги -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Скарги:
          <textarea class="form-control"
                    id="complaints"
                    name="complaints" [(ngModel)]="_neurologistsExamination.complaints"
                    #conclusionTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="290" rows=3></textarea>
        </div>
      </div>
    </div>
    <!-- Анамнез (доповнення) -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Анамнез (доповнення):
          <textarea class="form-control" id="anamnesis" name="anamnesis"
                    [(ngModel)]="_neurologistsExamination.anamnesis"
                    #anamnesisTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="573" rows=6></textarea>
        </div>
      </div>
    </div>
    <!-- Статокінетичний розвиток -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Статокінетичний розвиток
          <textarea class="form-control" id="statokineticDevelopment"
                    name="statokineticDevelopment"
                    [(ngModel)]="_neurologistsExamination.statokineticDevelopment"
                    #statokineticDevelopmentTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="273" rows=3></textarea>
        </div>
      </div>
    </div>
    <!-- Психомовленнєвий розвиток -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Психомовленнєвий розвиток
          <textarea class="form-control" id="psychospeechDevelopment"
                    name="psychospeechDevelopment"
                    [(ngModel)]="_neurologistsExamination.psychospeechDevelopment"
                    #psychospeechDevelopmentTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="272" rows=3></textarea>
        </div>
      </div>
    </div>

    <!-- ==== Neurological state group ==== -->

    <!-- Heading text -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <b><i>Неврологічний статус:</i></b>
        </div>
      </div>
    </div>
    <!-- Свідомість -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Свідомість</span>
            <input type="text" class="form-control" id="neurologicalStateConsciousness"
                   name="neurologicalStateConsciousness"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.consciousness"
                   #neurologicalStateConsciousness="ngModel"
                   [disabled]="_isSaving" maxlength="89" />
          </div>
        </div>
      </div>
    </div>
    <!-- Реакція на оточуючих -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Реакція на оточуючих</span>
            <input type="text" class="form-control" id="neurologicalStateReactionToOthers"
                   name="neurologicalStateReactionToOthers"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.reactionToOthers"
                   #neurologicalStateReactionToOthers="ngModel"
                   [disabled]="_isSaving" maxlength="79" />
          </div>
        </div>
      </div>
    </div>
    <!-- Менінгеальні симптоми -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Менінгеальні симптоми</span>
            <input type="text" class="form-control" id="neurologicalStateMeningealSymptoms"
                   name="neurologicalStateMeningealSymptoms"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.meningealSymptoms"
                   #neurologicalStateMeningealSymptoms="ngModel"
                   [disabled]="_isSaving" maxlength="78" />
          </div>
        </div>
      </div>
    </div>
    <!-- Data about head -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="col-xs-4 no-horizontal-padding">
            <div class="input-group">
              <span class="input-group-addon" id="neurologicalStateHeadDataHeadText">Голова:</span>
              <span class="input-group-addon">ОГ</span>
              <input type="text" class="form-control" id="neurogicalStateHeadCircumference"
                     name="neurologicalStateHeadCircumference"
                     [(ngModel)]="_neurologicalStateHeadCircumferenceValue"
                     #neurologicalStateHeadCircumference="ngModel"
                     #neurologicalStateHeadCircumferenceInput
                     [disabled]="_isSaving" maxlength="17"
                     pattern="^[1-9]\d(?:,\d)?$" 
                     data-toggle="tooltip" data-placement="top"
                     data-title="Може містити цифру та кому. Правильним вважається значення
                   у проміжку від 10,0 до 99,9 з не більше ніж однією цифрою після коми.
                   Наприклад: 42,4" />
              <span class="input-group-addon">см</span>
            </div>
          </div>
          <div class="col-xs-8 no-horizontal-padding">
            <div class="input-group">
              <span class="input-group-addon">, форма</span>
              <input type="text" class="form-control" id="neurologicalStateHeadShape"
                     name="neurologicalStateHeadShape"
                     [(ngModel)]="_neurologistsExamination.neurologicalState.headShape"
                     #neurologicalStateHeadShape="ngModel"
                     [disabled]="_isSaving" maxlength="46" />
            </div>
          </div>
          <!-- Alert for head circumference -->
          <div class="col-xs-4 no-horizontal-padding">
            <div *ngIf="neurologicalStateHeadCircumference.touched &&
               (neurologicalStateHeadCircumference.value ||
               neurologicalStateHeadCircumference.invalid)"
                 id="neurologicalStateHeadCircumferenceAlert"
                 class="alert alert-danger hyphens">
              Введіть правильне значення окружності голови.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Черепно-мозкові нерви -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Черепно-мозкові нерви:
          <textarea class="form-control" id="neurologicalStateCranialNerves"
                    name="neurologicalStateCranialNerves"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.cranialNerves"
                    #neurologicalStateCranialNervesTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="276" rows=3></textarea>
        </div>
      </div>
    </div>
    <!-- Рефлекторно-рухова сфера -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Рефлекторно-рухова сфера:</span>
            <input type="text" class="form-control" id="neurologicalStateReflexMotorArea"
                   name="neurologicalStateReflexMotorArea"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.reflexMotorArea"
                   #neurologicalStateReflexMotorArea="ngModel"
                   [disabled]="_isSaving" maxlength="74" />
          </div>
        </div>
      </div>
    </div>
    <!-- Об'єм рухів -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Об'єм рухів
          <textarea class="form-control" id="neurologicalStateMovementsVolume"
                    name="neurologicalStateMovementsVolume"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.movementsVolume"
                    #neurologicalStateMovementsVolumeTextArea="ngModel" [disabled]="_isSaving"
                    maxlength="187" rows=2></textarea>
        </div>
      </div>
    </div>
    <!-- Сухожильні та періостальні рефлекси -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Сухожильні та періостальні рефлекси
          <textarea class="form-control" id="neurologicalStateTendonAndPeriostealReflexes"
                    name="neurologicalStateTendonAndPeriostealReflexes"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.tendonAndPeriostealReflexes"
                    #neurologicalStateTendonAndPeriostealReflexesTextArea="ngModel"
                    [disabled]="_isSaving" maxlength="163" rows=2></textarea>
        </div>
      </div>
    </div>
    <!-- Черевні рефлекси -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Черевні рефлекси:</span>
            <input type="text" class="form-control" id="neurologicalStateAbdominalReflexes"
                   name="neurologicalStateAbdominalReflexes"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.abdominalReflexes"
                   #neurologicalStateAbdominalReflexes="ngModel"
                   [disabled]="_isSaving" maxlength="82" />
          </div>
        </div>
      </div>
    </div>
    <!-- Патологічні рефлекси -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Патологічні рефлекси
          <textarea class="form-control" id="neurologicalStateAbnormalReflexes"
                    name="neurologicalStateAbnormalReflexes"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.abnormalReflexes"
                    #neurologicalStateAbnormalReflexesTextArea="ngModel"
                    [disabled]="_isSaving" maxlength="178" rows=2></textarea>
        </div>
      </div>
    </div>
    <!-- Безумовні рефлекси -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Безумовні рефлекси:
          <textarea class="form-control" id="neurologicalStateUnconditionedReflexes"
                    name="neurologicalStateUnconditionedReflexes"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.unconditionedReflexes"
                    #neurologicalStateUnconditionedReflexesTextArea="ngModel"
                    [disabled]="_isSaving" maxlength="278" rows=3></textarea>
        </div>
      </div>
    </div>
    <!-- Контроль голови: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Контроль голови:</span>
            <input type="text" class="form-control" id="neurologicalStateHeadControl"
                   name="neurologicalStateHeadControl"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.headControl"
                   #neurologicalStateHeadControl="ngModel"
                   [disabled]="_isSaving" maxlength="83" />
          </div>
        </div>
      </div>
    </div>
    <!-- Перевертання на живіт: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Перевертання на живіт:</span>
            <input type="text" class="form-control" id="neurologicalStateTurningOnStomach"
                   name="neurologicalStateTurningOnStomach"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.turningOnStomach"
                   #neurologicalStateTurningOnStomach="ngModel"
                   [disabled]="_isSaving" maxlength="77" />
          </div>
        </div>
      </div>
    </div>
    <!-- Проба на тракцію: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Проба на тракцію:</span>
            <input type="text" class="form-control" id="neurologicalStateTestForTraction"
                   name="neurologicalStateTestForTraction"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.testForTraction"
                   #neurologicalStateTestForTraction="ngModel"
                   [disabled]="_isSaving" maxlength="82" />
          </div>
        </div>
      </div>
    </div>
    <!-- Сидіння: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Сидіння:</span>
            <input type="text" class="form-control" id="neurologicalStateSitting"
                   name="neurologicalStateSitting"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.sitting"
                   #neurologicalStateSitting="ngModel"
                   [disabled]="_isSaving" maxlength="91" />
          </div>
        </div>
      </div>
    </div>
    <!-- Повзання: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Повзання:</span>
            <input type="text" class="form-control" id="neurologicalStateCrawling"
                   name="neurologicalStateCrawling"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.crawling"
                   #neurologicalStateCrawling="ngModel"
                   [disabled]="_isSaving" maxlength="90" />
          </div>
        </div>
      </div>
    </div>
    <!-- Стояння: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Стояння:</span>
            <input type="text" class="form-control" id="neurologicalStateStanding"
                   name="neurologicalStateStanding"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.standing"
                   #neurologicalStateStanding="ngModel"
                   [disabled]="_isSaving" maxlength="91" />
          </div>
        </div>
      </div>
    </div>
    <!-- Опора: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Опора:</span>
            <input type="text" class="form-control" id="neurologicalStateBacking"
                   name="neurologicalStateBacking"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.backing"
                   #neurologicalStateBacking="ngModel"
                   [disabled]="_isSaving" maxlength="93" />
          </div>
        </div>
      </div>
    </div>
    <!-- Ходьба: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Ходьба:</span>
            <input type="text" class="form-control" id="neurologicalStateWalking"
                   name="neurologicalStateWalking"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.walking"
                   #neurologicalStateWalking="ngModel"
                   [disabled]="_isSaving" maxlength="93" />
          </div>
        </div>
      </div>
    </div>
    <!-- Гіперкінези: -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Гіперкінези:</span>
            <input type="text" class="form-control" id="neurologicalStateHyperkinesis"
                   name="neurologicalStateHyperkinesis"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.hyperkinesis"
                   #neurologicalStateHyperkinesis="ngModel"
                   [disabled]="_isSaving" maxlength="87" />
          </div>
        </div>
      </div>
    </div>
    <!-- Епісиндром -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          Епісиндром:
          <textarea class="form-control" id="neurologicalStateEpisyndrome"
                    name="neurologicalStateEpisyndrome"
                    [(ngModel)]="_neurologistsExamination.neurologicalState.episyndrome"
                    #neurologicalStateEpisyndromeTextArea="ngModel"
                    [disabled]="_isSaving" maxlength="286" rows=3></textarea>
        </div>
      </div>
    </div>
    <!-- Функції тазових органів -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Функції тазових органів</span>
            <input type="text" class="form-control" id="neurologicalStateFunctionsOfPelvicOrgans"
                   name="neurologicalStateFunctionsOfPelvicOrgans"
                   [(ngModel)]="_neurologistsExamination.neurologicalState.functionsOfPelvicOrgans"
                   #neurologicalStateFunctionsOfPelvicOrgans="ngModel"
                   [disabled]="_isSaving" maxlength="76" />
          </div>
        </div>
      </div>
    </div>

    <!-- ==== End of neurological state group ==== -->

    <br />
    <!-- Діагноз -->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <b>Діагноз:</b> 
          <diagnosis-text [diagnosisId]="_neurologistsExamination.diagnosisId"></diagnosis-text>
          <br />
          <diagnosis-select-modal [(diagnosisId)]="_neurologistsExamination.diagnosisId">
          </diagnosis-select-modal>
          <button type="button" class="btn btn-primary" [disabled]="_isSaving" 
                  data-toggle="modal" data-target="#diagnosisSelectModal">
            <span *ngIf="_neurologistsExamination.diagnosis">Змінити</span>
            <span *ngIf="!_neurologistsExamination.diagnosis">Додати</span>
          </button>
        </div>
      </div>
    </div>

    <hr />
    <!-- Alert when there are missing values -->
    <div class="row">
      <div class="col-xs-4">
        <div *ngIf="neurologistsExaminationForm.invalid"
             class="alert alert-danger">
          Для збереження введіть правильні значення.
        </div>
      </div>
    </div>
    <!-- Saving progress bar and alert for saving errors -->
    <div class="row">
      <div class="col-xs-12">
        <div class="progress" *ngIf="_isSaving">
          <div class="progress-bar progress-bar-info progress-bar-striped active"
               role="progressbar" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="0" style="width:100%">
            Збереження результату огляду...
          </div>
        </div>
        <div *ngIf="_isErrorOnSaving" class="alert alert-danger col-xs-12">
          {{_lastSavingErrorMessage}}
        </div>
      </div>
    </div>
    <!-- Save button -->
    <div class="row">
      <div class="form-group col-xs-11">
        <button type="submit" class="btn btn-primary"
                [disabled]="_isSaving || neurologistsExaminationForm.invalid">
          Зберегти
        </button>
      </div>
    </div>
  </form>

  <simple-notifications [options]="_notificationOptions"></simple-notifications>
</div>