<div id="diagnosisSelectModal" class="modal fade" role="dialog" #diagnosisSelectModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Вибір діагнозу згідно МКХ-10</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #childCardAddParentForm="ngForm">
          <!-- Full ICD tree for diagnosis-->
          <div *ngIf="!_diagnosisLoading">
            <!-- Classes -->
            <div class="row">
              <!-- Loading progress bar -->
              <div *ngIf="_classesLoading" class="col-xs-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active"
                       role="progressbar" aria-valuenow="0" aria-valuemin="0"
                       aria-valuemax="0" style="width: 100%">
                    Триває отримання даних про класи...
                  </div>
                </div>
              </div>
              <!-- Group with classes -->
              <div *ngIf="!_classesLoading" class="col-xs-12">
                <label class="control-label col-xs-3" for="classMKH">Клас</label>
                <div class="input-group col-xs-9">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th-list" aria-hidden="true">
                    </i>
                  </span>
                  <select class="form-control" name="classMKH" id="classMKH"
                          [(ngModel)]="_selectedClassId">
                    <option [ngValue]="null">
                      - Виберіть клас -
                    </option>
                    <option *ngFor="let class of _classes" [ngValue]="class.id">
                      {{class.id}} {{class.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Blocks -->
            <div class="row" *ngIf="_selectedClassId">
              <!-- Loading progress bar -->
              <div *ngIf="_blocksLoading" class="col-xs-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active"
                       role="progressbar" aria-valuenow="0" aria-valuemin="0"
                       aria-valuemax="0" style="width: 100%">
                    Триває отримання даних про блоки...
                  </div>
                </div>
              </div>
              <!-- Group with blocks -->
              <div *ngIf="!_blocksLoading && _blocks.length" class="col-xs-12">
                <label class="control-label col-xs-3" for="blockMKH">Блок</label>
                <div class="input-group col-xs-9">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th-list" aria-hidden="true">
                    </i>
                  </span>
                  <select class="form-control" name="blockMKH" id="blockMKH"
                          [(ngModel)]="_selectedBlockId">
                    <option [ngValue]="null">
                      - Виберіть блок -
                    </option>
                    <option *ngFor="let block of _blocks" [ngValue]="block.id">
                      {{block.id}} {{block.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Nosologies -->
            <div class="row" *ngIf="_selectedBlockId">
              <!-- Loading progress bar -->
              <div *ngIf="_nosologiesLoading" class="col-xs-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active"
                       role="progressbar" aria-valuenow="0" aria-valuemin="0"
                       aria-valuemax="0" style="width: 100%">
                    Триває отримання даних про нозології...
                  </div>
                </div>
              </div>
              <!-- Group with nosologies -->
              <div *ngIf="!_nosologiesLoading && _nosologies.length" class="col-xs-12">
                <label class="control-label col-xs-3" for="nosologyMKH">Нозологія</label>
                <div class="input-group col-xs-9">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th-list" aria-hidden="true">
                    </i>
                  </span>
                  <select class="form-control" name="nosologyMKH" id="nosologyMKH"
                          [(ngModel)]="_selectedNosologyId">
                    <option [ngValue]="null">
                      - Виберіть нозологію -
                    </option>
                    <option *ngFor="let nosology of _nosologies"
                            [ngValue]="nosology.id">
                      {{nosology.id}} {{nosology.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Diagnoses -->
            <div class="row" *ngIf="_selectedNosologyId">
              <!-- Loading progress bar -->
              <div *ngIf="_diagnosesLoading" class="col-xs-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active"
                       role="progressbar" aria-valuenow="0" aria-valuemin="0"
                       aria-valuemax="0" style="width: 100%">
                    Триває отримання даних про діагнози...
                  </div>
                </div>
              </div>
              <!-- Group with diagnoses -->
              <div *ngIf="!_diagnosesLoading && _diagnoses.length" class="col-xs-12">
                <label class="control-label col-xs-3" for="diagnosisMKH">Діагноз</label>
                <div class="input-group col-xs-9">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th-list" aria-hidden="true">
                    </i>
                  </span>
                  <select class="form-control" name="diagnosisMKH" id="diagnosisMKH"
                          [(ngModel)]="_selectedDiagnosisId">
                    <option [ngValue]="null">
                      - Виберіть діагноз -
                    </option>
                    <option *ngFor="let diagnosis of _diagnoses"
                            [ngValue]="diagnosis.id">
                      {{diagnosis.id}} {{diagnosis.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Loading progress bar -->
          <div *ngIf="_diagnosisLoading" class="row">
            <div class="col-xs-12">
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active"
                     role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="0" style="width: 100%">
                  Триває отримання інформації щодо діагнозу...
                </div>
              </div>
            </div>
          </div>
          <hr />
          <!-- Buttons "Choose" and "Cancel"-->
          <div class="row">
            <div class="col-xs-3 col-xs-offset-6">
              <button type="button" class="btn btn-primary" data-dismiss="modal"
                      (click)="_diagnosisSelected()"
                      [disabled]="!_selectedDiagnosisId">
                Вибрати
              </button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Відміна
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>