<div id="childCardAddParentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Додати одного з батьків</h4>
            </div>
            <div class="modal-body">
                Підтвердіть видалення користувача з іменем {{user.userName}}.

                <form class="form">
                    <div class="form-group">
                        <label class="control-label" for="f_name">Ім'я</label>
                        <input type="text" class="form-control" id="f_name" name="f_name"
                               [(ngModel)]="_parent.f_name" />
                        <div *ngIf="!_parent.f_name || !_parent.trim(f_name)"
                             class="alert alert-danger">
                            Введіть ім'я.
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="progress" *ngIf="_isAdding">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"
                                 style="width:100%">
                                Додавання одного з батьків...
                            </div>
                        </div>
                        <div *ngIf="_isErrorOnAdding" class="alert alert-danger">
                            {{_lastErrorMessage}}
                        </div>
                    </div>
                </form>
            </div>





            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="onYes()">
                    Так
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
            </div>
        </div>

    </div>
</div>
