<div class="col-xs-12">
    <div *ngIf="visits && visits.length">
        <div *ngFor="let visit of visits" class="panel panel-info">
            <div class="panel-heading">
                <div>
                    <b>Дата: </b>
                    {{visit.date | amDateFormat: 'DD.MM.YYYY'}} <br />
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <b>Лікар ( {{visit.doctor.position.name}} ):</b>
                    {{visit.doctor.lastName}} {{visit.doctor.firstName}} {{visit.doctor.secondName}}
                </div>
                <div>
                    <b>Заключення:</b> {{visit.summary}} <br />
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!visits || !visits.length">
        <div>
            Дитини ще ні разу не була на прийомі у лікарів.
        </div>
    </div>
</div>