.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}
textarea {
  resize: vertical;
}
#neurologicalStateHeadDataHeadText {
  width: 25%;
}
#neurologicalStateHeadCircumferenceAlert {
  margin-left: 25%;
}
:host /deep/ .tooltip-inner {
  margin-left: 25%;
  max-width: 100%;
  text-align: left;
}
