<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-offset-1 col-lg-2" for="lastName">Прізвище</label>
            <div class="input-group col-lg-4">
                <input type="text" class="form-control" id="lastName" name="lastName"
                       [(ngModel)]="_patientToView.lastName" #lastName="ngModel" />
            </div>
            <div *ngIf="!_patientToView.lastName && lastName.touched"
                 class="alert alert-danger col-lg-offset-3 col-lg-4">
                Введіть прізвище.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-offset-1 col-lg-2" for="firstName">Ім'я</label>
            <div class="input-group col-lg-4">
                <input type="text" class="form-control" id="firstName" name="firstName"
                   [(ngModel)]="_patientToView.firstName" #firstName="ngModel" />
            </div>
            <div *ngIf="!_patientToView.firstName && firstName.touched"
                 class="alert alert-danger col-lg-offset-3 col-lg-4">
                Введіть ім'я.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-offset-1 col-lg-2" for="secondName">По-батькові</label>
            <div class="input-group col-lg-4">
                <input type="text" class="form-control" id="secondName" name="secondName"
                   [(ngModel)]="_patientToView.secondName" #secondName="ngModel" />
            </div>
            <div *ngIf="!_patientToView.secondName && secondName.touched"
                 class="alert alert-danger col-lg-offset-3 col-lg-4">
                Введіть по-батькові.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-offset-1 col-lg-2" for="birthDate">Дата народження</label>
            <div class="input-group col-lg-2">
                <div class="input-group date" data-provide="datepicker" id="birthDatePicker"
                     #birthDatePicker>
                    <input type="text" #birthDatePickerInput class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div *ngIf="!_patientToView.birthDate && this._birthDatePickerTouched"
                     class="alert alert-danger col-lg-offset-3 col-lg-3">
                    Введіть дату народження.
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div *ngIf="!_patientToView.lastName || !_patientToView.firstName
                     || !_patientToView.secondName || !_patientToView.birthDate"
                     class="alert alert-danger col-lg-offset-3 col-lg-4">
                    Для пошуку введіть значення у всі поля.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-3">
                    <button class="btn btn-primary" (click)="viewPatientData()"
                            [disabled]="!_patientToView.lastName || !_patientToView.firstName
                        || !_patientToView.secondName || !_patientToView.birthDate"
                            *ngIf="!_isSearching">
                        Знайти
                    </button>
                </div>
            </div>
            <div class="alert alert-info col-lg-offset-3 col-lg-4" *ngIf="_isSearching">
                Триває отримання даних про пацієнта...
            </div>
            <div *ngIf="_isErrorOnSearching" class="alert alert-danger col-lg-offset-1">
                {{_lastErrorMessage}}
            </div>
        </div>
        <div class="form-group" *ngIf="_triedToSearch && !_isSearching && !_isErrorOnSearching
         && _searchResult">
            <hr />
            <h4 class="text-center">Дані про пацієнта:</h4>
            <children-cards-list [childrenCards]="_searchResult"></children-cards-list>
        </div>
        <div class="alert alert-info" *ngIf="_triedToSearch && !_isSearching  && !_isErrorOnSearching
         && !_searchResult ">
            <h4>По Вашому запиту нічого не знайдено.</h4>
        </div>
    </form>
</div>