<form class="form">
    <div class="form-group">
        <label class="control-label" for="l_Name">Прізвище</label>
        <input type="text" class="form-control" id="l_Name" name="l_Name"
               [(ngModel)]="_patientToView.l_Name" #username="ngModel" />
        <div *ngIf="!_patientToView.l_Name" class="alert alert-danger">
            Введіть прізвище.
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="f_Name">Ім'я</label>
        <input type="text" class="form-control" id="f_Name" name="f_Name"
               [(ngModel)]="_patientToView.f_Name" #username="ngModel" />
        <div *ngIf="!_patientToView.f_Name" class="alert alert-danger">
            Введіть ім'я.
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="s_Name">По-батькові</label>
        <input type="text" class="form-control" id="s_Name" name="s_Name"
               [(ngModel)]="_patientToView.s_Name" #username="ngModel" />
        <div *ngIf="!_patientToView.s_Name" class="alert alert-danger">
            Введіть по-батькові.
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="date">Дата народження</label>
        <ng2-datepicker [options]="options" [(NgModel)]="data"></ng2-datepicker>
        <div *ngIf="!_patientToView.date" class="alert alert-danger">
            Введіть дату народження.
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default" (click)="viewPatientData()"
                [disabled]="!_patientToView.l_Name || !_patientToView.f_Name
                    || !_patientToView.s_Name"
                *ngIf="!_isSearching">
            Знайти
        </button>
        <div class="progress" *ngIf="_isSearching">
            <div class="progress-bar progress-bar-info progress-bar-striped active"
                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"
                 style="width:100%">
                Триває отримання даних про пацієнта...
            </div>
        </div>
        <div *ngIf="_isErrorOnSearching" class="alert alert-danger">
            {{_lastErrorMessage}}
        </div>
    </div>
    <div class="form-group" *ngIf="_triedToSearch && !_isSearching && !_isErrorOnSearching
         && _searchResult">
        <h4>Дані про пацієнта:</h4>
        <children-cards-list [childrenCards]="_searchResult"></children-cards-list>
    </div>
    <div class="alert alert-info" *ngIf="_triedToSearch && !_isSearching  && !_isErrorOnSearching
         && !_searchResult ">
        <h4>По Вашому запиту нічого не знайдено.</h4>
    </div>
</form>