@datepicker-background: #ff00ff;
@datepicker-text: #000000;

// Datepicker container
:host /deep/ .datepicker-container .datepicker-calendar {
    background: @datepicker-background !important;
}

:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top {
	background: @datepicker-background !important;
}

:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top .year-title {
	color: @datepicker-text !important;
}

// Arrows < and > ?
:host /deep/ .datepicker-calendar-month-section{
    fill: @datepicker-text !important;
}

:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i, .datepicker-container .datepicker-input-container .datepicker-input-icon i{
    background: @datepicker-background !important;
}

// Year select button
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top button {
    color: @datepicker-text !important;
}

// Close button ("x") container?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top .close svg g path, .datepicker-container .datepicker-calendar .datepicker-calendar-top button svg g, .datepicker-container .datepicker-calendar .datepicker-calendar-top button svg g path, .datepicker-container svg g, .datepicker-container svg g g{
  	fill:@datepicker-text !important;
}

// Close button ("x")
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top .close{
    color:@datepicker-text !important;
}

// Middle container
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container {
    background:@datepicker-background !important;
}

// Month selection container?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section{
    color: @datepicker-text !important;
}

// Day names container?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names {
    background: @datepicker-background !important;
}

// Day names ... ?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names span {   
    color:@datepicker-text !important;
}

// Days container ?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container {
    background: @datepicker-background !important;
}

// Day texts ?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day {
    color:@datepicker-text !important;
}

// Selected day
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.selected, .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day:hover:not(.disabled) {
    background: @datepicker-background !important;
}

// Today
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.today{
    color:@datepicker-text !important;
}

// Year select container?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container {
    background: @datepicker-background !important;
}

// Years text?
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year {
    color:@datepicker-text !important;
}

// Selected year hover
:host /deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year.selected, .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year:hover {
    background: @datepicker-background !important;
}