<div class="panel panel-primary">
    <div class="panel-heading clickable" data-toggle="collapse" data-target="#listRehabilitations"
         style="cursor: pointer;">
        <h4>Список призначень</h4>
    </div>
    <div class="panel-body collapse in" id="listRehabilitations" aria-expanded="true">
        <div class="col-xs-12">
            <div class="row" *ngIf="_isLoading">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="0" style="width: 100%">
                        Отримання інформації щодо призначень пацієнта ...
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="_isErrorOnLoading">
                <div class="alert alert-danger col-xs-12">
                    {{_lastLoadingErrorMessage}}
                </div>
            </div>
            <div *ngIf="!_isLoading && !_isErrorOnLoading">
                <div *ngIf="_rehabilitations && _rehabilitations.length">
                    <div *ngFor="let rehabilitation of _rehabilitations" class="panel panel-info">
                        <div class="panel-heading">
                            <b>Призначення:</b>
                            {{rehabilitation.therapeuticProcedure.procedureCaption}}
                        </div>
                        <div class="panel-body">
                            <p>
                                <b>Дата призначення:</b> {{rehabilitation.beginDate | amDateFormat:'DD.MM.YYYY'}} <br />
                            </p>
                            <p>
                                <b>Кількість процедур:</b> {{rehabilitation.count}} <br />
                            </p>
                            <p>
                                <b>Коментар лікаря:</b>
                            </p>
                            <pre>{{rehabilitation.commentary}}</pre>
                        </div>
                    </div>
                </div>
                <div *ngIf="!_rehabilitations || !_rehabilitations.length">
                    <p>
                        У дитини немає призначень.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

